snowflake-connector-python==2.8.0
snowflake-snowpark-python==1.1.0
pyxlsb==1.0.10
openpyxl==3.0.10
xlrd==2.0.1
-r https://raw.githubusercontent.com/snowflakedb/snowflake-connector-python/v2.7.9/tested_requirements/requirements_39.reqs
